html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: arial;
	background: #FFF;
	color: #333;
}

#map_canvas {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 3em;
}

header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	text-align: right;
	height: 3em;
	text-align: center;
	border-bottom: 1px solid #333;
	box-sizing: border-box;
	font-weight: 700;
	white-space: nowrap;
}